.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-bottom: 1px solid #444;
}

.navbar h1 {
  color: #FFD700;
  margin: 0;
  font-size: 1.8rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-right: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: #FFD700;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #FFA500;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #FFA500;
}

.nav-links a:hover::after {
  width: 100%;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.8rem;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo {
  width: 75px;
  height: 75px;
  object-fit: contain;
  border-radius: 8px;
}
